<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% users.forEach(user => { %>
      <li>Name: <%= user.name %></li>
      <li>Email: <%= user.email %></li>
    <% }) %>
  </ul>
</body>
</html>
